p{
    clear: both;
    text-align: right;
    line-height: 15px;
}
label{
    float: left;
}
body{
    background-color: cornsilk;
}
h3{
    background-color: yellow;
}
.main{
    width: 1000px;  
    text-align: left;
    font-family: Arial;
    font-size: 14pt;
    margin: 0 auto;
}
.elements{
    float: left;
}
.update{
    text-align: left;
}
.status_class{
    float: left;
    padding-left: 25px; 
}

.log{
    margin-top: 5px;
}